.TabsList {
  display: flex;

  flex-direction: row;
  row-gap: 10px;
  column-gap: 85px;
  flex-wrap: wrap;
  justify-content: start;

  padding: 0;
  margin: 50px 0;
}

@media (max-width: 768px) {
  .TabsList {
    justify-content: space-between;
    column-gap: unset;
    gap: 15px;

    margin: 15px 0;
  }
}
