.Footer {
  background-color: var(--secondary-1000);
  padding: 50px 75px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .Footer {
    padding: 50px 50px;
  }
}

@media (max-width: 550px) {
  .Footer {
    padding: 30px 15px;
  }
}