:root {
  --primary-500: #ff9900;
  --primary-300: #FFB84D;
  --primary-700: #E1670E;

  --secondary-0: #FFFFFF;
  --secondary-200: #CACACA;
  --secondary-500: #808080;
  --secondary-600: #666666;
  --secondary-800: #414141;
  --secondary-1000: #000000;

  --accent-1: #97EE3F;
}
