.NavigationMenu__dropdownMenu {
  background-color: var(--secondary-0);

  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 32px 32px;

  box-sizing: border-box;
  padding: 32px;
  width: 420px;
  height: 100%;

  overflow-y: auto;
  overflow-x: auto;
}

@media (max-width: 550px) {
  .NavigationMenu__dropdownMenu {
    width: 100%;
  }
}
